// Config


// base
.c-callout {
  max-width: rem-calc(400);
  margin: 0 auto 120px auto;
  padding: 0 $section-sidespacing;
  text-align: center;
  &__text {
    margin-bottom: 0;
  }
}

.c-callout-visit {
  display: block;
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
    .has-img-right & {
      text-align: right;
    }
  }
}
