// Config

// Base
// TODO - change to something more generic that can be used elsewhere as flexbox items
.c-client-logos {
  @include flex-grid-row(nest);
  @include reveal($delay: 0.3s);
  align-items: center;
  &__container {
    flex: 0 1 auto;
    padding: 0 10px;
    margin: 0 auto 20px auto;
    @include breakpoint(medium) {
      min-width: 160px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.c-description {
  @include reveal($delay: 0.2s);
  font-size: rem-calc(18);
  margin-bottom: rem-calc(55px);
  @include breakpoint(medium) {
    margin-bottom: rem-calc(65px);
    font-size: rem-calc($h3-fontsize-larger);
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(95px);
    font-size: rem-calc($h3-fontsize-larger);
  }
  & + .c-client-logos {
     margin-bottom: -20px;
   }

}
