// Config

// Base
.c-hero-title {
  margin-left: rem-calc(30);
  position: absolute;
  top: 120px;
  @include breakpoint(large) {
    top: 54.5%;
    right: 0;
    margin-right: 13vw;
  }
  @include breakpoint(xlarge){
  }
}

.c-hero-title__title {
  @extend %section-title;
  color: $white;
  margin-bottom: 11px;
  text-align: left;
}
.c-hero-title__subtitle {
  font-size: rem-calc($h3-fontsize);
  font-weight: normal;
  color: $white;
  &:after {
    @include separator($primary-color, 75px);
  }
}
