// Config

// Base
.c-hero-title {
  // margin-top: rem-calc(130);
  margin-left: rem-calc(30);
  position: absolute;
  top: 120px;
  @include breakpoint(large) {
    top: 57%;
    right: 0;
    // float: right;
    // margin-top: 54vh;
    margin-right: 13vw;
  }
  @include breakpoint(xlarge){
    // margin-top: 57vh;
  }
}

.c-hero-title__title {
  @extend %section-title;
  color: $white;
  margin-bottom: 11px;
  text-align: left;
}
.c-hero-title__subtitle {
  font-size: rem-calc($h3-fontsize);
  font-weight: normal;
  color: $white;
  &:after {
    @include separator($primary-color, 75px);
  }
}
