// Config


// Base
.c-logo {
  // TODO: display on ios
  position: relative;
  top: 0;
  color: $primary-color;
  // font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  text-transform: uppercase;
  float: left;
  z-index: 20;
  transition: top $transition-time-short $ease-out;
  .is-stuck & {
    top: -8px;
  }
}
