// Config


// Base
.c-logo {
  position: relative;
  top: -3px;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  z-index: 20;
  transition: top $transition-time-short $ease-out;
  a {
    display: block;
  }
  @include breakpoint(medium) {
    margin-left: 0;
  }
  .is-stuck & {
    top: -9px;
  }
  &--footer {
    top: 0;
    z-index: 0;
  }
}
