// Config

// Base
.nav-icon {
  // TODO: sticky on ios
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 20;
  width: 30px;
  height: 25px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all $transition-time-short $ease-in-out;
  span {
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background: $secondary-color;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s $ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 20px;
    }

    .is-open & {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
  .is-stuck & {
    top: 12px;
  }
  .is-open & {
    right: 30px;
  }
}
