// Config

// Base
.c-nav-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s $ease-in-out;
  .is-open & {
    height: 100%;
    opacity: 1;
    background: $black;
  }
}

.c-nav-list {
  visibility: hidden;
  width: 100%;
  opacity: 0;
  margin: rem-calc(130) 0 rem-calc(80) 0;
  color: $white;
  font-size: rem-calc(40);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
  transform: translateY(0);
  transition: transform 0.9s $ease-out $transition-time-short,
              opacity $transition-time-short $ease-out $transition-time-short;
  @include no-bullets;
  .is-open & {
    visibility: visible;
    opacity: 1;
    transform: translateY(20px);
  }
  li {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4)  {
      visibility: hidden;
      opacity: 0;
      text-align: center;
      transform: translateY(0);
      transition: transform 0.7s $ease-out $transition-time-short,
                  opacity 0.5s $ease-out $transition-time-short;
      @include breakpoint(large) {
        text-align: left;
      }
      .is-open & {
        opacity: 1;
        visibility: visible;
      }
    }
    &:nth-child(2) {
      .is-open & {
        transform: translateY(10px);
      }
    }
    &:nth-child(3) {
      .is-open & {
        transform: translateY(20px);
      }
    }
    &:nth-child(4) {
      .is-open & {
        transform: translateY(30px);
      }
    }
  }
  &__wrap {
    padding-bottom: rem-calc(30);
    @include clearfix;
    @include breakpoint(large) {
      width: 50%;
      float: right;
    }
  }
}

// prevents the body from scrolling when nav open
.nav-active {
  overflow: hidden;
}
