// Config
// .sticky {
//   transform: none;
// }

// base
.c-top-bar {
  &__inner {
    z-index: 10;
    width: 100%;
    height: 70px;
    padding: 20px 30px;
    background-color: rgba($dark-gray, 0.75);
    transition: all $transition-time-short $ease-out;
    .page-home & {
      background-color: transparent;
    }
    &.is-stuck {
      background-color: rgba($dark-gray, 0.75);
      height: 50px;
    }
  }
}
