// Config
$f-input-padding: rem-calc(29) rem-calc(10);

// Base
.form {
  &-field {
    position: relative;
    width: 100%;
  }
  &-label {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $medium-gray;
    transition: all $transition-time-short $ease-in-out;
    &.is-focused {
      top: -24px;
      left: 0;
      color: $black;
      animation: opacity-in-out $transition-time-short $ease-in-out;
    }
    &.is-invalid-label:not(.is-focused) {
      color: $form-label-color-invalid;
    }
  }
  &-input {
    padding: $f-input-padding;
  }
  &-input-msg {
    padding: $f-input-padding;
    height: 300px;
  }
}

.c-form-container {
  @include reveal($single: true);
}
