// Config
h4, .h4  {
  font-weight: normal;
}

// Base
%section-title {
  font-size: rem-calc($h1-fontsize-larger);
  line-height: 1;
  margin-bottom: 7px;
}


.c-tagline {
  margin-bottom: 5.5rem;
  &__sub {
    &:after {
      @include separator($width: 210px, $dist: 0);
    }
  }
}

.c-section__title {
  @extend %section-title;
  text-align: center;
  &.has-alt-align {
    @include breakpoint(medium) {
      text-align: left;
    }
  }
}

.c-section__subtitle {
  font-size: rem-calc($h4-fontsize);
  text-align: center;
  &:after {
    @include separator();
    margin-left: auto;
    margin-right: auto;
  }
  &.has-alt-align {
    @include breakpoint(medium) {
      text-align: left;
      &:after {
        margin-left: 0;
      }
    }
  }
  &.is-section-heading {
    margin-bottom: $global-margin-larger;
  }
}

.c-header-section__title {
  @extend %section-title;
  color: $white;
  margin-bottom: 11px;
}
.c-header-section__subtitle {
  font-size: rem-calc($h3-fontsize);
  font-weight: normal;
  color: $white;
  &:after {
    @include separator($primary-color, 75px);
  }
}
