//config
$ease-in-out: cubic-bezier(0.565, 0.005, 0.280, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.045, 1.000);
$transition-time-short: 0.3s;
$transition-time-medium: 0.5s;
$transition-time-longer: 0.7s;

// base
@keyframes opacity-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.waypoint-fade {
  @include reveal($single: true);  
}
