<div class="nav-toggle" data-js="nav-menu">

  <nav role="navigation" class="c-nav-container">
    <div class="c-nav-list__wrap">
      <ul class="c-nav-list">
        <li><a href="#top">home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#work">work</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
      <ul class="c-social-links c-social-links__as-nav">
        <li>
          <a href="https://twitter.com/roolins">twitter</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/pete-rawlings-bb106649">linkedin</a>
        </li>
        <li>
          <a href="assets/docs/pete_rawlings_CV_2016.pdf" target="_blank">resume</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
