// Config

// Base
.l-header {
  height: 50px;
  &.has-image {
    background: url(../img/hero-tshirt-small.jpg) top left no-repeat;
    background-position: bottom center;
    background-size: cover;
    min-height: 300px;
    @include breakpoint(large) {
      background-position: bottom left;
      background-image: url(../img/hero-tshirt.jpg);
      min-height: 100vh;
    }
    @include breakpoint(large) {
      background-position: bottom center;
    }
  }
}
