// Config

// Base
.l-portfolio-piece {
  @include flex-grid-row(collapse, $wrap: true);
  justify-content: flex-start;
  margin-bottom: rem-calc(120);
  @include breakpoint(large) {
    margin-bottom: rem-calc(200);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__img,
  &__content {
    @include flex-grid-column;
    flex: 1 1 auto;
    max-width: 760px;
    @include breakpoint(large) {
      flex: 1 1 0;
      align-self: center;
    }
  }
  &__img {
    margin-bottom: rem-calc(60);
    @include reveal($delay: 0.5s);
    @include breakpoint(large) {
      margin-bottom: 0;
      margin-right: $gutter;
      .has-img-right & {
        margin-left: $gutter;
        margin-right: 0;
      }
    }
  }
  &__content {
    @include reveal($delay: 0.7s);
    @include breakpoint(large) {
      margin-left: $gutter;
      .has-img-right & {
        margin-right: $gutter;
        margin-left: 0;
      }
    }
  }
  &.has-img-right {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    img {
      float: right;
    }
  }
}
